<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>商品一覧</title>
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="items.css">
  </head>
  <body>
 
   <div class="container">
    <div class="select-wrapper">
    <div class="select-location">
         <p><a href="">TOP</a> > <a href="">WOMEN</a></p>
         </div>
          <div class="wrap">
    <label for="label1"><span class="label-button">新着順 ▼</span></label>
    <input type="checkbox" id="label1" class="switch" />
    
    <div class="content">
      <p class="orders-list"><a class="orders"href="">新着順</a></p>
      <p class="orders-list"><a class="orders" href="">価格が安い順</a></p>
      <p class="orders-list"><a class="orders" href="">価格が高い順</a></p>
    </div>
    </div>
    </div>
    
   <div class="merchandise-list">
    <ul class="list1">
        <li><a href=""><img class="product-photo" src="noimage.jpeg" alt="写真"><p class="product-name">商品名</p></a></li>
        <li><a href=""><img class="product-photo" src="noimage.jpeg" alt="写真"><p class="product-name">商品名</p></a></li>
        <li><a href=""><img class="product-photo" src="noimage.jpeg" alt="写真"><p class="product-name">商品名</p></a></li>
        <li><a href=""><img class="product-photo" src="noimage.jpeg" alt="写真"><p class="product-name">商品名</p></a></li>
    </ul>

    <ul class="list2">
        <li><a href=""><img class="product-photo" src="noimage.jpeg" alt="写真"><p class="product-name">商品名</p></a></li>
        <li><a href=""><img class="product-photo" src="noimage.jpeg" alt="写真"><p class="product-name">商品名</p></a></li>
        <li><a href=""><img class="product-photo" src="noimage.jpeg" alt="写真"><p class="product-name">商品名</p></a></li>
        <li><a href=""><img class="product-photo" src="noimage.jpeg" alt="写真"><p class="product-name">商品名</p></a></li>
    </ul>
    
    <ul class="list3">
        <li><a href=""><img class="product-photo" src="noimage.jpeg" alt="写真"><p class="product-name">商品名</p></a></li>
        <li><a href=""><img class="product-photo" src="noimage.jpeg" alt="写真"><p class="product-name">商品名</p></a></li>
        <li><a href=""><img class="product-photo" src="noimage.jpeg" alt="写真"><p class="product-name">商品名</p></a></li>
        <li><a href=""><img class="product-photo" src="noimage.jpeg" alt="写真"><p class="product-name">商品名</p></a></li>
    </ul>
    
    <ul class="list4">
        <li><a href=""><img class="product-photo" src="noimage.jpeg" alt="写真"><p class="product-name">商品名</p></a></li>
        <li><a href=""><img class="product-photo" src="noimage.jpeg" alt="写真"><p class="product-name">商品名</p></a></li>
        <li><a href=""><img class="product-photo" src="noimage.jpeg" alt="写真"><p class="product-name">商品名</p></a></li>
        <li><a href=""><img class="product-photo" src="noimage.jpeg" alt="写真"><p class="product-name">商品名</p></a></li>
    </ul>
  </div>
  <div class="page-list">
      <span claass="page"><a href=""> <  </a>| <a href="">page1</a> |<a href="">  ></a></span>
  </div>
  </div>
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>